@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Rurouni (v2)</h1>
    <p>A one stop service to keep track of all your workouts!</p>
    <p>The repository of this website can be accessed <a href="https://docs.microsoft.com/aspnet/core">here</a>.</p>
</div>
